# Target Mean Encoding

## Overview

- 对于离散变量最有效的编码方法之一
- 对于维度较高的离散性变量效果很好
- 重点在于防止过拟合

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "category": ["A", "A", "B", "B", "B", "C", "C", "C", "C", "D"],
        "label": [1, 0, 1, 0, 0, 1, 0, 1, 1, 1]
    }
)

In [3]:
df

  category  label
0        A      1
1        A      0
2        B      1
3        B      0
4        B      0
5        C      1
6        C      0
7        C      1
8        C      1
9        D      1

In [4]:
label_mean = df.groupby("category").label.mean()

In [5]:
label_mean

category
A    0.500000
B    0.333333
C    0.750000
D    1.000000
Name: label, dtype: float64

In [7]:
df = df.assign(target_enc=df["category"].map(label_mean).copy())

In [8]:
df

  category  label  target_enc
0        A      1    0.500000
1        A      0    0.500000
2        B      1    0.333333
3        B      0    0.333333
4        B      0    0.333333
5        C      1    0.750000
6        C      0    0.750000
7        C      1    0.750000
8        C      1    0.750000
9        D      1    1.000000

In [9]:
df = df.assign(target_enc2=df.groupby("category")["label"].transform("mean").copy())

In [10]:
df

  category  label  target_enc  target_enc2
0        A      1    0.500000     0.500000
1        A      0    0.500000     0.500000
2        B      1    0.333333     0.333333
3        B      0    0.333333     0.333333
4        B      0    0.333333     0.333333
5        C      1    0.750000     0.750000
6        C      0    0.750000     0.750000
7        C      1    0.750000     0.750000
8        C      1    0.750000     0.750000
9        D      1    1.000000     1.000000