# Pandas Fundamentals

## Overview

- 1, Read and write CSV dataset
- 2, Basic data manipulation
- 3, Apply and Groupby function
- 4, Joins

## Data

The data can be downloaded [here](#https://www.stats.govt.nz/assets/Uploads/New-Zealand-business-demography-statistics/New-Zealand-business-demography-statistics-At-February-2019/Download-data/geographic-units-by-industry-and-statistical-area-2000-19-descending-order.zip)

## Read and Write

In [11]:
import pandas as pd

in_file = "./Data7602DescendingYearOrder.csv"
data = pd.read_csv(in_file, engine="python")

In [12]:
data.head()

  anzsic06     Area  year  geo_count  ec_count
0        A  A100100  2000         96       130
1        A  A100200  2000        198       110
2        A  A100300  2000         42        25
3        A  A100400  2000         66        40
4        A  A100500  2000         63        40

In [13]:
data.shape

(5155186, 5)

In [14]:
data.columns.values

array(['anzsic06', 'Area', 'year', 'geo_count', 'ec_count'], dtype=object)

In [15]:
data.to_csv("out_file.csv", index=False, encoding="utf-8", sep="\t")

## Basic Manipulation

In [16]:
year = data["year"]

In [17]:
geo_count = data["geo_count"]
geo_count_copy = geo_count.copy(deep=True)

In [18]:
geo_count_copy[geo_count > 90] = 90

In [19]:
data.head()

  anzsic06     Area  year  geo_count  ec_count
0        A  A100100  2000         96       130
1        A  A100200  2000        198       110
2        A  A100300  2000         42        25
3        A  A100400  2000         66        40
4        A  A100500  2000         63        40

In [20]:
def myfunc(x):
    if x > 90:
        return 90
    else:
        return x

In [21]:
data["ec_count"] = data["ec_count"].apply(myfunc)

In [22]:
data.head()

  anzsic06     Area  year  geo_count  ec_count
0        A  A100100  2000         96        90
1        A  A100200  2000        198        90
2        A  A100300  2000         42        25
3        A  A100400  2000         66        40
4        A  A100500  2000         63        40

In [23]:
data["ec_count"] = data["ec_count"].apply(lambda x: 85 if x > 85 else x)

In [24]:
data.head()

  anzsic06     Area  year  geo_count  ec_count
0        A  A100100  2000         96        85
1        A  A100200  2000        198        85
2        A  A100300  2000         42        25
3        A  A100400  2000         66        40
4        A  A100500  2000         63        40

In [25]:
groupby = data.groupby("anzsic06").agg({"geo_count": ["mean"]})

In [27]:
groupby.columns = groupby.columns.droplevel(0)

In [30]:
groupby.rename(columns={groupby.columns[0]: "anzsic06_mean"}, inplace=True)

In [31]:
groupby.head()

          anzsic06_mean
anzsic06
A            196.301884
A01          183.521642
A011          12.251173
A012          14.130619
A013          41.096657

In [32]:
data = pd.merge(data, groupby, how="left", on="anzsic06")

In [33]:
data.head()

  anzsic06     Area  year  geo_count  ec_count  anzsic06_mean
0        A  A100100  2000         96        85     196.301884
1        A  A100200  2000        198        85     196.301884
2        A  A100300  2000         42        25     196.301884
3        A  A100400  2000         66        40     196.301884
4        A  A100500  2000         63        40     196.301884

In [35]:
data[data["anzsic06"] == "A"].head()

  anzsic06     Area  year  geo_count  ec_count  anzsic06_mean
0        A  A100100  2000         96        85     196.301884
1        A  A100200  2000        198        85     196.301884
2        A  A100300  2000         42        25     196.301884
3        A  A100400  2000         66        40     196.301884
4        A  A100500  2000         63        40     196.301884

In [36]:
data_part_1 = data.iloc[0:1000]
data_part_2 = data.iloc[1000:]

In [37]:
data_stacked = data_part_1.append(data_part_2, ignore_index=True)

C:\Users\theRun\AppData\Local\Temp\ipykernel_17452\3627146262.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stacked = data_part_1.append(data_part_2, ignore_index=True)

In [38]:
data_stacked.shape

(5155186, 6)

In [39]:
data_stacked.head()

  anzsic06     Area  year  geo_count  ec_count  anzsic06_mean
0        A  A100100  2000         96        85     196.301884
1        A  A100200  2000        198        85     196.301884
2        A  A100300  2000         42        25     196.301884
3        A  A100400  2000         66        40     196.301884
4        A  A100500  2000         63        40     196.301884

In [40]:
data_new_col = data["ec_count"]

In [41]:
data_concat = pd.concat([data, data_new_col], axis=1)

In [42]:
data_concat.head()

  anzsic06     Area  year  geo_count  ec_count  anzsic06_mean  ec_count
0        A  A100100  2000         96        85     196.301884        85
1        A  A100200  2000        198        85     196.301884        85
2        A  A100300  2000         42        25     196.301884        25
3        A  A100400  2000         66        40     196.301884        40
4        A  A100500  2000         63        40     196.301884        40